.login-button {
    color : white;
}

.login-container {
    display: none;
    width: 35vw;
    height: 60vh;
    background-color: #1c1c1c;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.login-form-container {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.login-input {
    width: 25vw;
    height: 5vh;
    background-color: #706a6a;
    border: none;
    outline: none;
}

.login-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.login-title {
    color: white;
    text-transform: uppercase;
    font-family: Poppins;
    margin-left: 4.5rem;
    font-weight: bold;
}

.remember-container {
    display: flex;
    align-items: center;
    margin-left: 4.2rem;
}

.remember-checkbox {
    margin-right: 5px;
}

.remember-label {
    font-size: 14px;
    color: #333;
}

.login-input-submit {
    width: 25vw;
    height: 5vh;
    background-color: #706a6a;
    border: none;
    outline: none;
}