* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #1e1d1d;
    width: 100vw;
    height: 100vh;
}

.title {
    color : white;
}

.game-column {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


.player-column {
    width: 70vw;
    height: 100vh;
}

.leave-button {
    width: 10vw;
    height: 5vh;

}
