body {
    background: #3b3b3b;
    font-family: 'Poppins', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}