:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}
input, button, textarea, :focus {
    outline: none;  /* You should add some other style for :focus to help UX/a11y */
}
html,
body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.content {
    background-color: #000;
    background-image: url("../game_background/cod1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
    transition: background-image 0.5s ease;
}

.navbar {
    z-index: 10;
    position: absolute;
    /* top:1px; */
    /* left: 0; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, black 100%); */
    background-color: #0000007c;
    width: 6vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-right: 1px solid #484747;*/
}

.navbar-container-hub {
    background-color: #111010;
    width: fit-content;
    height: fit-content;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    border-radius: 30px;
    /* margin-top: 3rem; */
}

.navbar-not-show {

}


.navbar-logo {

}

.navbar-container-game {
    position: relative;
    /* top:33%; */
    background-color: #111010;
    width: 80%;
    height: fit-content;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 30px;
    margin-top: 3rem;
}

.navbar-game {
    background-color: #363636;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-game:hover {
    background-size: cover;
    background-position: 50%;
    background-color: #151515;
    box-shadow: inset 0px 0px 277px 3px #00000092;

}

.navbar-game-active {
    background-color: #000;
    transition: 0.0s ease-in-out;
}

.footer {
    position: static;
    top: 100vh;
    width: 100vw;
    height: fit-content;
    background-color: black;
    color: white;
    padding: 1rem;
}

.game-container {
    position: static;
    top: 0;
    padding-left: 7rem;
    display: flex;
    justify-content: start;
    /*align-items: start;*/
    flex-direction: column;
    width: 80vw;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.game-title {
    font-size: 4.5rem;
    color: white;
    text-align: left;
    font-family: 'Staatliches', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease;
}

.container-button {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.button-play {
    background-color: #dde8e8;
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button-play:hover {
    background-color: #ffffff;
    
}

.button-play > p {
    margin-left: 1.2rem;
    position: relative;
    z-index: 2;
    white-space: nowrap;
}

.play-icon {
    position: relative;
    z-index: 2;
    transition: all 1s;
}

.loader {
    background: #a5a5a5;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: width 3s;
}

.button-play.loading .loader {
    width: 100%;
}

.button-settings{
    background-color: #dde8e8;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.play-icon:hover{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.room-container {
    margin-top: 2rem;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.room-container h1{
    font-family: Poppins, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    margin: 20px 0px 10px 0;
}
.room-saloon-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
}

.room-box {
    width: 15rem;
    height: 7.5rem;
    background-color: rgba(23, 22, 22, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.room-box:hover {
    background-color: rgba(22, 22, 22);
    transform: scale(1.02);

}

.room-title {
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.room-online {
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.modal-container {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
}

.modal {
    transition: all 1s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.modal-content {
    font-family: Poppins, sans-serif;
    position: relative;
    background-color: #fefefe;
    width: 50%;
    max-width: 800px;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    align-items: center;
    padding: 10px 2rem;
    margin: 0 auto;
    max-height: 70vh;
    overflow-y: auto;

}

.modal-header {
    font-family: Poppins, sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    align-items: center;
    padding: 10px 2rem;
    margin: 3vh auto 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
}

.modal-footer {
    font-family: Poppins, sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    align-items: center;
    padding: 10px 2rem;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}

@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateY(0%); }
    100% { -webkit-transform: translateY(-100%); }
}
.browse-button {
    background-color: #000;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    border: solid 1px #000;
    border-radius: 30px;
    padding: 8px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-folder {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    border: solid 0 #fff;
    padding: 5px 10px;
    cursor: pointer;
    width: 80%;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.browse-game {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.setting-name{
    font-family: Poppins, sans-serif;
    color: black;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.save-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.notification {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: none;
    opacity: 0;
    position: fixed;
    margin: 10px;
    padding: 10px;
    z-index: 9999;
    width: 80%;
    border-radius: 30px;
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
    border: solid 2px #000;
}


.active {
    display: block;
    opacity: 1;

}

@-webkit-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    35%, 65% { opacity: 1; }
}

@keyframes fadeinout {
    0%, 100% { opacity: 0; }
    35%, 65% { opacity: 1; }
}

.version {
    position: absolute;
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px 9px;
    border-radius: 30px;
    top: 304px;
    left: 347px;
    z-index: 3;
    cursor: pointer;
    width: 46px;
    height: 40px;
}

.version i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;

}

.version-dropdown {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 44px;
    height: 0px;
    margin: 0 auto;
    position: absolute;
    color : white;
    background-color: black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px;
    z-index: 2;
    font-family: Poppins, sans-serif;
    top: 322px;
    left: 347px;
    transition: height 0.5s ease, visibility 0.5s ease;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.dropdown-active {
    height: auto;
    visibility: visible;
    transition-delay: 0.3s;
}

.version-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

.version-item {
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    padding: 8px 6px;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease;
    transition-delay: 0.3s;
    font-size: 12px;
    font-weight: bold;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.version-item:hover {
    background-color: white;
    color: black;
}

.dropdown-active .version-item {
    opacity: 1;
    transition-delay: 0s; /* Supprimez le délai pour l'animation d'apparition */
}

.item-active {
    background-color: white;
    color: black;
}

.down {
margin-top: -5px;
}

/*
    USer bar
 */

.user-bar-container {
    width: 14vw;
}

.not-allowed {
    cursor: not-allowed;
}