body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 200vh;
}

.content {
    background-image: url("../game_background/test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, black 100%);
    width: 6vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border-right: 1px solid #484747;*/
}


.navbar-logo {

}

.navbar-container-game {
    background-color: black;
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 30px;
}

.navbar-game {
    background-color: #383636;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-game:hover {
    background-color: #dde8e8;
    transition: 0.7s ease-in-out;
}

.footer {
    width: 100vw;
    height: 12vh;
    background-color: black;
}

.game-container {
    padding-left: 5rem;
    display: flex;
    justify-content: start;
    /*align-items: start;*/
    flex-direction: column;
    width: 80vw;
}

.game-title {
    font-family: Poppins;
    font-size: 4.5rem;
    color: white;
    text-align: center;
    text-align: left;
    font-family: 'Staatliches', cursive;
}

.container-button {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.button-play {
    background-color: #dde8e8;
    width: 14rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 1rem;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
}

.button-play > p {
    margin-left: 1.2rem;
    position: relative;
    z-index: 2;
}

.play-icon {
    position: relative;
    z-index: 2;
}

.loader {
    background: #f8dfdf;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: width 3s;
}

.button-play.loading .loader {
    width: 100%;
}

.button-settings{
    background-color: #dde8e8;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-container {
    margin-top: 2rem;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.room-container-title {
    font-family: Poppins;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.room-saloon-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
}

.room-box {
    width: 15rem;
    height: 7.5rem;
    background-color: rgba(23, 22, 22, 0.95);
    border-radius: 5px;
    cursor: pointer;
}

.room-box:hover {
    background-color: rgba(22, 22, 22);
    transition: 0.5s ease-out;
}

.room-title {
    font-family: Poppins;
    color: white;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.room-online {
    font-family: Poppins;
    color: white;
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
