<link rel="stylesheet" href="../assets/css/gamepage.css" xmlns="" xmlns="http://www.w3.org/1999/html">
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;400;500;600;700&family=Staatliches&display=swap"
      rel="stylesheet">
<title>Game Page</title>

<section class="container">
    <div class="game-column">
        <div>
            <h1 id="room-type" class="title"></h1>
            <h4>
                <span id="room-id" class="room-name">Lobby-61718.codlauncher.net</span>
            </h4>
            <h4>
                <span id="room-server-status" class="room-status">Server : <span style="color : green">ON</span></span>
            </h4>
            <div id="quit-btn" class="leave-button">Leave room</div>
        </div>
        <div class="map-vote-container">
            <div>
                <p class="map-title">
                    Carentan | 5 votes
                </p>
                <img src="../assets/room_img/map/mp_carentan.png" class="map-img">
            </div>
            <div>
                <p class="map-title">
                    Railyard | 2 votes
                </p>
                <img src="../assets/room_img/map/mp_railyard.png" class="map-img">
            </div>
            <div>
                <p class="map-title">
                    Vote for another map
                </p>
            </div>
        </div>
    </div>

    <div class="player-column">

    </div>
</section>

<script src="../gameAction/gameStart.js"></script>
<script src="../gameAction/gamePage.js"></script>
<script src="../gameAction/roomManager.js"></script>
