<link rel="stylesheet" href="../assets/css/style.css" xmlns="" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../assets/css/modules/login.css"/>
<link rel="stylesheet" href="../assets/css/icon.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;400;500;600;700&family=Staatliches&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/simplebar@5.3.0/dist/simplebar.min.css">
<script src="https://unpkg.com/simplebar@5.3.0/dist/simplebar.min.js"></script>

<meta charset="UTF-8">
<body>
<div class="simplebar" style="height: 100vh;">
    <section class="main">
        <div id="notification" class="notification">Test</div>

        <div class="main_content">
            <div class="content" id="home_content" style="display: none;">
            
                <div class="navbar">
                    <div class="navbar-container-game">
                        <div class="navbar-game" id="cod1nav" onclick="switchGame('cod1')">
                            <img src="../assets/game_logo/cod_1_logo.png" width="42" height="42">
                        </div>
                        <div class="navbar-game" id="coduonav" onclick="switchGame('cod_united_offensive')">
                            <img src="../assets/game_logo/cod_uo_logo.png" width="42" height="42">
                        </div>
                        <div class="navbar-game" id="cod2nav" onclick="switchGame('cod2')">
                            <img src="../assets/game_logo/cod_2_logo.png" width="42" height="42">
                        </div>
                        <!-- <div class="navbar-game" id="game4">
    
                        </div> -->
                    </div>
                    <div class="navbar-not-show">
    
                    </div>
                </div>
                <div class="game-container">
                    <h1 class="game-title" id="title">
                        Call Of Duty: <br/>
                        Classic
                    </h1>
                <div class="container-button">
                    <div class="button-play" onclick="">
                        <img class="play-icon" id="play-icon" src="../assets/icon/button-play.png" width="32"
                             height="32">
                        <p>Launch game</p>
                        <div class="loader"></div>
                    </div>
                    <div class="button-settings">
                        <img class="play-icon" src="../assets/icon/reglages.png" width="32" height="32">
                    </div>
                    <div id="version" class="version">
                        <p id="current-version">1.1x</p><i id="versionArrow" class="arrow down"></i>
                    </div>
                    <div id="version-dropdown" class="version-dropdown">
                        <ul id="version-list" class="version-list">
        
                        </ul>
                    </div>
                    
                </div>
                
    
    
                <div class="room-container">
                    <h1 class="room-container-title">
                        Join a room
                    </h1>
                    <div class="room-saloon-container">
                        <div class="room-box" data-room="team-deathmatch">
                            <p class="room-title">
                                Team Deathmatch
                            </p>
                            <p class="room-online">
                                <span id="team-deathmatch-players" style="color: #7fc71b">0</span> Players online
                            </p>
                        </div>
                        <div class="room-box" data-room="search and destroy">
                            <p class="room-title">
                                Search & Destroy
                            </p>
                            <p class="room-online">
                                <span style="color: #7fc71b">0</span> Players online
                            </p>
                        </div>
                        <div class="room-box" data-room="deathmatch">
                            <p class="room-title">
                                Deathmatch
                            </p>
                            <p class="room-online">
                                <span style="color: #7fc71b">0</span> Players online
                            </p>
                        </div>
                        <div class="room-box" data-room="gungame">
                            <p class="room-title">
                                Gungame
                            </p>
                            <p class="room-online">
                                <span style="color: #7fc71b">0</span> Players online
                            </p>
                        </div>
                    </div>
                </div>
                </div>
    
    
                <div class="login-button">
                    <p>
                        
                    </p>
                </div>
               <!-- <div class="login-container">
                   <div>
                       <img src="https://cdn2.unrealengine.com/Unreal+Engine%2Feg-logo-filled-1255x1272-0eb9d144a0f981d1cbaaa1eb957de7a3207b31bb.png" width="64" height="64">
                   </div>
                   <form method="post" class="login-form-container">
                       <p class="login-title">
                           SIGN IN
                       </p>
                       <div class="login-input-container">
                           <input class="login-input" placeholder="Pseudo">
    
                           <input class="login-input" placeholder="Password">
                       </div>
                       <div class="remember-container">
                           <input type="checkbox" id="remember-me" class="remember-checkbox">
                           <label for="remember-me" class="remember-label">Se souvenir de moi</label>
                       </div>
    
                       <input class="login-input-submit">
                   </form>
               </div> -->
                <style></style>
                <script>
                    document.querySelector(".login-button").addEventListener("click", function() {
                        document.querySelector(".login-container").style.display = "block";
                    });
    
                </script>
                
                <div class="user-bar-container">
    
                </div>
            </div>
            <div  id="shop_content" class="content" style="display: none;">
                <div class="navbar">
                    <div class="navbar-container-game">
                        <div class="navbar-game">
                            1
                        </div>
                        <div class="navbar-game">
                            2
                        </div>
                        <div class="navbar-game">
                            3
                        </div>
                    </div>
                    <div class="navbar-not-show">
    
                    </div>
                </div>
                <div class="game-container">
                    <h1 class="game-title">
                        Call Of Duty: <br/>
                        Classic
                    </h1>
                </div>
            </div>

        </div>
        
        <div class="footer">
            <div class="navbar-container-hub">
                <div class="navbar-game" onclick="switchMenu('home')" id="home_nav">
                    <img src="../assets/icon/maison.png" width="28" height="28"/>
                </div>
                <div class="navbar-game" onclick="switchMenu('shop')" id="shop_nav">
                    <img src="../assets/icon/carte-de-shopping.png" width="28" height="28"/>
                </div>
            </div>
        </div>
    </section>
    <div class="modal-container" id="modalCOD1">
        <div id="modalitemCOD1" class="modal">
            <div class="modal-header">
                <h2 id="settingsTitle">Call Of Duty: Classic - Settings</h2>
                <div class="button-settings" id="close-button">
                    <img class="play-icon" src="../assets/icon/x.png" width="32" height="32">
                </div>

            </div>
            <form id="saveSettings">
                <div class="modal-content">

                </div>

                <div class="modal-footer">
                    <div class="save-footer">
                        <button type="submit" class="browse-button">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../gameAction/gameSettings.js"></script>
    <script src="../gameAction/gameStart.js"></script>
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/functions.js"></script>

    <script src="../gameAction/roomManager.js"></script>
    <script src="../gameAction/versionSwitch.js"></script>
</div>
<script>
    new SimpleBar(document.querySelector('.simplebar'));
</script>

</body>
