<head>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;400;500;600;700&family=Staatliches&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login</title>
</head>

<body>
<div class="head">
    <img src="../assets/img/logo.png" alt="logo">
    <h1>CodLite</h1>
</div>
<form id="login" class="login-form">
    <input id="email" />
    <input id="password" />
    <button id="submit" type="button">Login</button>
</form>
<script src="../assets/js/login.js"></script>
</body>