<link rel="stylesheet" href="../assets/css/update.css">
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;400;500;600;700&family=Staatliches&display=swap"
      rel="stylesheet">
<body>
<div class="container">
    <img alt="logo" class="logo" src="../assets/game_logo/cod_1_logo.png">

    <h4 id="message" class="message">Checking for update <p id="wait"></p></h4>

    <progress id="progress" class="progress progress1" max="100" value="0"></progress>
</div>
<script src="../assets/js/update.js"></script>
</body>
